body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

@font-face {
    font-family: 'bogart';
    src: local('bogart'), url('../fonts/Bogart-Black-trial.ttf') format('truetype');
    font-size: normal;
    font-weight: normal;
}

ul {
    padding: 0px !important;
}

.menu-principal {
    width: 100%;
    background-color: #a5388d;
    min-height: 70px;
}

main,
.content {
    margin: 0 auto;
    width: 1200px;
    position: relative;
    float: center;
}

.logo {
    float: left;
    padding: 16px;
    width: 70%;
}

.logo img {
    margin-top: -12px;
    margin-left: 100px;
    width: 25%;
}

.buy img{
    margin-top: 7px;
    width: 5%;
}

.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 5px;
}

.menu-urls {
    height: 70px;
    border-bottom: 3px solid #fcc945;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 40px;
}

.menu ul li:hover {
    border-bottom: 3px solid #a5388d;
}

.menu ul li a:hover {
    color: #a5388d;
}

.menu ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #24282b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    float: left;
}

.busca {
    text-align: center;
    width: 30%;
    float: right;
}

.busca input {
    background-image: url(../img/icone-search.png);
    background-repeat: no-repeat;
    height: 36px;
    padding: 12px;
    width: 250px;
    margin-top: -15px;
    background-position: 96%;
    border: 1px solid #d6d6d6;
    border-radius: 20px;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.texto-destaque strong {
    color: #646464;
}

.texto-destaque h1 {
    text-align: center;
    font-family: 'bogart', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #a5388d;
}

.bloco-destaques {
    margin-bottom: 250px;
}

.col-3 {
    background-color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position: relative;
    border-radius: 10px;

}

.bloco-imagem img {
    margin: 0 auto;
    width: 40%;
    height: auto;
}

.bloco-imagem {
    height: 350px;
    border: 1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
}

.bloco-imagem b,
p {
    text-align: left;
}

.bloco-texto {
    margin-top: 1em;
}

.bloco-texto a {
    font-weight: bold;
    text-decoration: none;
    font-size: 35px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.bloco-texto p,
h1,
h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


h3 {
    font-weight: normal !important;
}

.bloco-imagens-texto {
    background-color: #fcc945;
}

.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background: white;
    background-image: url('../img/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}

.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 70px;
    background: #fcc945;
}

.bloco-imagens-texto h2 {
    margin-top: 40px;
    text-align: center;
    font-family: 'bogart', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.col-4 {
    margin-top: -25px;
    float: left;
    width: 25%;
    text-align: center;
}

.col-4 img {
    cursor: pointer;
    margin: 0 auto;
    padding-top: 1em;
    vertical-align: middle;
}

.col-4 img:hover {
    margin-top: 10px !important;
    position: relative !important;
}

.bloco-logos {
    height: 170px;
}

.bloco-logos img {
    margin-top: 50px;
}

.footer h3 {
    margin-top: 50px;
    text-align: left;
}

.footer {
    background-image: url('../img/footer.png');
    color: #ffffff;
}

.footer-2 {
    background-image: url('../img/footer2.png');
    color: #c1c1c1;
    height: 90px;
}


.footer p {
    width: 90%;
    text-align: left;
}

.footer-2 p {
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.footer ul li {
    font-size: 15px;
    list-style-type: none;
    text-align: left;
    margin: 10px;

}

.footer ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    margin-left: -10px;
}

.footer p {
    font-family: Arial, Helvetica, sans-serif;


}

@media (max-width:500px){
    body{
        width:100px;
        height: 100px;
        position:center;
    }
    .header-1 img {
        width: 15%;
        margin-left: -10px;
    }
    .buy img {
        width: 3%;
        margin-left: -320px;
    }

    .menu-principal{
        width:400px;
        height:10px;
    }
    .menu ul li {
        margin-top: -30px;
        width: 30px;
        padding: 2px;
        height: 10px;
    }
    .menu ul li a{
        font-size: 10px;
    }

    .busca{
        display: none
    }
}
